.btn {
  background-color: rgb(97, 150, 220);
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 5px 15px;
  max-width: 150px;
  padding: 5px 15px;
}

.danger {
  background-color: rgb(218, 78, 31);
}

.alert {
  background-color: rgb(236, 219, 41);
  color: black;
}
