.card-detail_img {
  height: 310px;
  object-fit: cover;
}

.card-detail_img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.detail {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 100%;
  margin: 40px auto;
  min-height: 600px;
  min-width: 580px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  width: 90%;
}

.card-detail_detail {
  padding: 12px 8px;
}

small {
  color: #8c8c8e;
}

.card-detail_muted {
  color: #8c8c8e;
}
