div.chango {
  display: block;
  text-align: center;
  text-decoration: none;
}

div.chango {
  float: right;
}

a, div.chango span {
	color: white;
}

a {
	padding: 14px 16px;
}

a:hover {
	background-color: #111;
}
