.card, .buy-form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 100%;
  margin: 1em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  transition: all 0.2s ease-in;
  width: 280px;
}

.card-img {
  width: 280px;
  height: 260px;
  object-fit: cover;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card:hover {
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-6px);
}

.card > .card-detail {
  padding: 12px 8px;
}

.card:hover .card-favicon {
  display: block;
}

.card-favicon {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: none;
  margin: 5px 15px;
  padding: 8px 8px;
  cursor: pointer;
  background-color: rgb(219, 219, 219);
  color: #8c8c8e;
}

.card-favicon.favorite {
  display: block;
  background-color: rgb(223, 117, 84);
  color: white;
}

small {
  color: #8c8c8e;
}

.priceTag {
  color: #444444;
  font-weight: bold;
}

.offerTag {
  color: #21b276;
}

a:hover {
  background-color: unset;
}

Button {
  float: right;
}

.short-desc {
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
}
