.itemcount_container {
  border-radius: 15px;
  border: solid thin rgb(174, 207, 239);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  max-width: 480px;
  padding: 12px 25px;
  text-align: center;
  width: 100%;
}

.itemcount_control {
  display: flex;
  justify-content: space-evenly;
  padding: 2px 10px;
}
